body{
    background-color: rgb(98, 98, 130);
}
.weather-container {
  position: absolute;
  font-size: 14px;
  top: 80px;
  
  align-items: center;
  text-align:left ;
  height: 500px;
  width: 100%;
  
}

.country{
    font-size: 40px;
}


.app{
    
    align-items: center;
    text-align: center;
    margin-top: 20px;
}