body{
    background-color: rgb(98, 98, 130);
}
.weather-container {
  position: absolute;
  font-size: 14px;
  top: 70px;
  align-items: left;
  text-align:left ;
  height: 100%;
  width: 100%;
  background-size:cover;
  background-repeat: no-repeat;
  
}

.country{
    font-size: 40px;
}


.app{
    
    align-items: center;
    text-align: center;
    margin-top: 20px;
}