body{
    background-image: url('https://i.pinimg.com/originals/1c/19/7e/1c197ee3e643925fbe455a4fdc8ca2f9.jpg');
}
.battlefield{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:40px;
    border: 80px;
    border-radius: 2px;
    border-color:solid grey;
    width: 90%;
    height: 90%;
    
}
.captainfield{
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 2px;
    
}
.alienfield{
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 400px;
    margin: 30px;
    border: 2px solid black;
    border-radius: 2px;

}
.alienimg{
    width: 50px;
    height: 50px;
}

.captainship{
    width: 50px;
    height: 50px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#button{
    background-color: darkgreen;
}
.gamename{
    color: white;
    text-align: center;
    
}
