.App{
    border: solid blue;
    background-color: yellowgreen;
    align-items: center;
    height: 650px;
}


.sqr{
    border:solid red;
    height: 100px;
    width:100px
}

.row{
    display: flex;
}

.Player{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.board{
    align-items: center;
    margin-left: 38%;
}