body{
    /* height:200vh; */
    color: black;
    background-image: url(https://www.teahub.io/photos/full/41-419298_background-image-for-restaurant-website.jpg);

}
.navContainer{
    display:flex;
    padding:15px;
    justify-content: space-between;
    
}
.pagedivision{
    display:flex;

}
.leftbar{
    display:flex;
    color: blueviolet;
    /* font-size: large; */
    /* padding:15px; */
    justify-content: space-between;
    margin-left: 50px;
    font-size: 30px;
    

}